.main{
    .top{
        h2{
            display: inline-block;
            font-size: 22px;
            color: #707070;
            a{
                display: block;
                width: 228px;
                height: 53px;
                border-right: 1px solid #e5e5e5;
                margin-right: 38px; 
            }
        }
    }
    .mid{
        display: block;
        height: 692px;
        background: url();  
    }
}