footer{
    height: 730px;
    background: #333333;
    padding-left: 206px;
    padding-right: 380px;
    .bottom1{
        padding-right: 184px;
        height: 145px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        font-size: 22px;
        a{
            color: #FFFFFF;
        }
    }
    .bottom2{
        height: 264px;
        padding-right: 112px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        dl{
            line-height: 44px;
            dt{
                color: #FFFFFF;
            }
            dd{
                a{
                    color: #676767;
                }
            }
        }
    }
    .bottom3{
        height: 190px;
        display: flex;
        justify-content: space-between;
        ul{
            width: 680px;
            height: 60px;
            display: flex;
            justify-content: space-between;
            margin-top: 130px;
        }
        div{
            width: 372px;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            line-height: 14px;
            color: #FFFFFF;
            dl{
                dd{
                    margin-top: 20px;
                }
            }
        }
    }
    .bottom4{
        height: 57px;
        font-size: 14px;
        line-height: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 38px;
        color: #FFFFFF;
        ul{
            display: flex;
            li{
                width: 33px;
                border-right: 2px solid #676767;
                margin-right: 20px;
                a{
                    color: #FFFFFF;
                }
            }
            li:nth-child(6){
                border: none;
            }
        }
    }
}
